.fx-page-dashborad {
	color: $color;
	height: 100%;
	overflow: auto;

	.dashborad-top {
		display: flex;
		justify-content: space-between;
		align-items: center;

		div {
			flex: 1;

			&:not(:last-child) {
				margin-right: 20px;
			}
		}
	}

	.monitor-page-table {
		padding: 20px 0px;
		.monitor-page-table-search {
			margin-bottom: 20px;
			.ant-form-item {
				display: flex;
				padding-bottom: 20px;
			}
		}

	}

}